.menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
  }
  
  .sidebar {
    width: 200px;  
    height: 100px;
    background-color: #F09A9D;    /* Red */
    /* float: right; */
    margin: 0 auto;
  }
  
  .content {
    height: 200px;
    background-color: #F5CF8E;    /* Yellow */
  }
  
  .footer {
    height: 200px;
    background-color: #D6E9FE;    /* Light blue */
  }

